.btn__light-red {
  background-color: var(--background-btn-light);
  border-radius: 8px;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: #f8707065;
  }
}

.btn__red {
  background-color: var(--background-btn);
  border-radius: 8px;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: #f9c9c942;
  }
}
